@charset "utf-8";
/*======================================
 [ -Main Stylesheet-
  Theme: Trustbook
  Version: 1.0
  Last change: 17/11/2024 ]
*/
/*-------------Import fonts ---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');
/*-------------General Style---------------------------------------*/
:root {
	--main-color: #F7B90F;
	--main-font: "Saira", sans-serif;
	--secondary-font: "Teko", sans-serif;
}
html{
	overflow-x:hidden !important;
	height:100%;
}
body{
	margin: 0;
	padding: 0;
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 12px;
 	background: #111;
	height:100%;
	text-align:center;
	color:#1e1e1e;
} 
@-o-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@viewport {width: device-width;}
p {
	text-align: left;
    font-size: 12px;
    line-height: 24px;
    padding-bottom: 10px;
    font-weight: 400;
	color: rgba(255,255,255,.7)
}
/* ---------Page preload--------------------------------------*/
.loader-wrap {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	z-index: 10000;
}
.lw-dot {
	float: left;
	width: 20%;
	height: 20%;
 	overflow: hidden;
	position: relative; 
}
.lw-dot-anim{
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	transform: scale(1.0);
	transition: all  .2s ease-in;
	background: #111;
}
.hid-lw-row {
	transform: scale(2.3);
	opacity: 0;
}
.loader-spin {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90px;
	height: 90px;
	margin: -45px 0 0 -45px;
	z-index: 10;
	transition: all .95s cubic-bezier(.19,1,.22,1) 0ms;
}
.loader-spin.novisspin {
	transform: translateY(-50px);
	opacity: 0;
}
.loader-spin:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	border-radius: 50%;
	z-index: 2;
	background:#fff;
}
.loader-spin:after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 52px;
	height: 52px;
	margin: -26px 0 0 -26px;
	border: 1px solid rgba(255,255,255,0.09);
	border-radius: 50%;
	z-index: 1;
	background: #222;
}
.loader-spin span {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	border: 8px solid var(--main-color);
	box-sizing: border-box;
	border-top-color: transparent;
	border-bottom-color: transparent;
	animation: rotate 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	z-index: 2;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-size: cover;
	background-attachment: scroll  ;
	background-position: center  ;
	background-repeat:repeat;
	background-origin: content-box;
} 
#main{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	opacity:0;
}
#main.vis-main {
	opacity: 1
}
.cs-content-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 630px;
	z-index: 2;
	overflow: hidden;
}
.ds_dec-grid {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
 	background: #222;
	overflow: hidden;
	border: 1px solid rgba(255,255,255,.1)
}
.pl-row {
	float:left;
	width:20%;
	height:20%;
	position:relative;
	z-index:1;
	perspective: 1000px;
}
.pl-row  span {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background: #222;
	transition: all 600ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	transform: scale(1.0) translateZ(0);
	opacity: 1;
	z-index: 1;
	box-sizing: border-box;
}
.pl-row  span.pl-row-anim-dec-vis {
 	background: #111;
	opacity:  .5;
	transform: scale(1.1) translateZ(450px);
	z-index: 2;
	box-shadow: 0 9px 46px rgb(0 0 0 / 20%);
}
.cs-content-wrapper:after {
    font-family: Font Awesome\ 5 Pro;
    content: "\f0d8 \f0d8 \f0d8 \f0d8";
    bottom: 50px;
    left: 70px;
    position: absolute;
    font-size: 16px;
    letter-spacing: 15px;
    font-weight: bold;
    color:var(--main-color);
	z-index: 10;
}
.cs-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 90px;
	z-index: 2;
}
.logo-holder {
	position: absolute;
	left: 90px;
	top: 60px;
	z-index: 20;
}
.logo-holder img {
	width: 150px;
	height: auto;
}
.cs-content h3 {
 	color:#fff;
	text-align: left;
	font-size:6.2em;
	line-height: 70px;
	font-weight: 600;
	padding-bottom: 22px;
	position: relative;
	text-transform: uppercase;
    font-family: var(--secondary-font);
}
.cs-content h3:before {
	content: '';
	position: absolute;
	left: 0;
	top: -40px;
	width: 40px;
	height: 6px;
	background: var(--main-color);
}
.cs-content h4 {
	text-align: left;
	padding-bottom: 30px;
	font-size: 16px;
	font-weight: 600;
	color:#fff;
}
.contacts_social_title {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
    text-align: left;
}
.contacts_social_container {
	margin-top: 20px;
}
.sq-dec {
	position: absolute;
	width: 20px;
	height: 20px;
	background: var(--color2);
}
.arrow_dec_wrap {
	position: absolute;
	right: 50px;
	top: 50px;
	z-index: 10;
}
.arrow_dec_wrap2 {
	position: absolute;
	right: 50px;
	bottom: 50px;
	transform: rotate(90deg);
	z-index: 10;
}
.arrow_dec {
	position: absolute;
	width: 44px;
	height: 44px;
	top: 0;
	right: 0;
}
.arrow_dec_dot {
	float: left;
	position: relative;
	width:33.3333333%;
	height:33.3333333%;
	overflow: hidden;
}
.arrow_dec_dot:before {
	content: '';
	position: absolute;
	left: 2px;
	top: 2px;
	bottom: 2px;
	right: 2px;
	background: var(--main-color);
}
.arrow_dec_dot:nth-child(3):before {
	background: #fff
}
.arrow_dec_dot:nth-child(4):before , .arrow_dec_dot:nth-child(7):before , .arrow_dec_dot:nth-child(8):before {
	display: none;
}
.cs-content-media {
	position: absolute;
	left: 630px;
	top: 10px;
	bottom: 10px;
	right: 10px;
	background: var(--main-color);
	z-index: 1;
	overflow: hidden;
}
.overlay  {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 2;
	background: rgba(0,0,0,.6)
}
.cs-media-container {
	position: relative;
	z-index: 5;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	display: inline-table;
	padding: 0 100px;
}
.cs-countdown-item {
	float:left;
	position: relative;
	width: 25%;
 
	text-align: center;
	z-index: 5;
}
.cs-countdown-item:before {
    content: '';
    position: absolute;
    top: 60%;
    right: -20px;
    width: 40px;
    height: 1px;
    background: var(--main-color);
}
.countdown .cs-countdown-item:last-child:before {
	display: none;
}
.rot {
    font-family: var(--secondary-font);
	color:#fff;
	font-size: 6.5vw;
	display: block;
}
.cs-countdown-item h4 {
    font-weight: 600;
    position: relative;
    color: var(--main-color);
    text-transform: uppercase;
    font-size: .9em;
    display: inline-block;
    padding: 10px 40px;
    border: 1px solid rgba(255, 255, 255, .2);
    background: rgba(0, 0, 0, .6);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}
.showcase-dec_container{
	position: absolute;
	z-index: 3;
	top: 50px;
	right: 50px;
	bottom: 50px;
	left: 50px;
}
.showcase-dec_corner {
	position: absolute;
	width: 60px;
	height: 60px;
	box-sizing: border-box;
}
.sdc_topleft {
	left: 0;
	top: 0;
	border-left: 1px solid;
	border-top: 1px solid;
}
.sdc_topright{
	right: 0;
	top: 0;
	border-right: 1px solid;
	border-top: 1px solid;	
}
.sdc_bottomleft {
	left: 0;
	bottom: 0;
	border-left: 1px solid;
	border-bottom: 1px solid;
}
.sdc_bottomright {
	right: 0;
	bottom: 0;
	border-right: 1px solid;
	border-bottom: 1px solid;
}
.sdc_topright {
	right: 0;
	top: 0;
	border-right: 1px solid;
	border-top: 1px solid;	
}
.showcase-dec_corner {
	border-color: rgba(255,255,255,.3);
}
.showcase-dec_line {
	position: absolute;
	background: rgba(255,255,255,.3);
	overflow: hidden;
}
.sdl_right , .sdl_left {
	top: 150px;
	bottom: 150px;
	width: 1px;
}
.sdl_right:before , .sdl_left:before {
	content: '';
	position: absolute;
	background: var(--color1);
	height: 50px;
	width: 1px;
	left: 0;
}
.sdl_right:before {
	animation: sdl_anim2 9s ease-out infinite;
	top: -50px;
}
.sdl_left:before {
	animation: sdl_anim3 7s ease-out infinite;
	bottom: -50px;
}
.sdl_top {
	top: 0;
	height: 1px;
	left: 150px;
	right: 150px;
}
.sdl_top:before {
	content: '';
	position: absolute;
	left: -50px;
	height: 100%;
	width: 50px;
	top: 0;
	animation: sdl_anim 6s ease-out infinite;
	background: var(--color1);
}
.sdl_top2 {
	left: calc(70% + 90px);
	right: 90px;
	bottom: 50px;
	top: auto;
	z-index: 20;
	background: rgba(255,255,255,.3);
}
@keyframes sdl_anim {
	0% {
		opacity: 1;
		left: -60px;
	}
	50% {
		left: 50%
	}
	100% {
		left: 120%;
		opacity: 0.5;
	}
}
@keyframes sdl_anim2 {
	0% {
		opacity: 1;
		top: -60px;
	}
	50% {
		top:60%
	}
	100% {
		top: 120%;
		opacity: 0.5;
	}
}
@keyframes sdl_anim3 {
	0% {
		opacity: 1;
		bottom: -60px;
	}
	50% {
		bottom:60%
	}
	100% {
		bottom: 120%;
		opacity: 0.5;
	}
}
.sdl_left {
	left: 0;
}
.sdl_right {
	right: 0;
}
.serv-dec-btn-wrap {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom:   30px;
	z-index: 10;
}
.serv-dec-btn-wrap a {
	display: inline-block;
	background: #222;
	font-weight: 600;
    padding: 0 110px 0 70px;
 	position: relative;
	color:#fff;
	text-transform: uppercase;
    height: 60px;
    line-height: 60px;
    font-size: .9em;	
}
.serv-dec-btn-wrap a:before {
	content: '';
	position: absolute;
	left: -6px;
	right: -6px;
	bottom: -6px;
	top: -6px;
	border: 1px solid  rgba(255,255,255,.3);
    background: rgba(0, 0, 0, .6);
	z-index: -1;
}
.serv-dec-btn-wrap a i {
    position: absolute;
    top: 50%;
    right: 6px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    margin-top: -22px;
	background: var(--main-color);
    color: #000;
    z-index: 3;
    transition: all .2s ease-in-out;
}  
.contact-form-wrap   {
	position: fixed;
	z-index: 90;
	height: 100%;
	left: 0;
	right: 0;
	display: none;
}
.contact-form-container {
	max-width: 600px;
	margin: 0 auto;
	position: relative;
	top: 20%;
	z-index: 10;
}
.contact-form-container-box {
	position: relative;
 	overflow: hidden;
	background: #111;
	padding:70px 10px 10px;
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, .2);
  	opacity: 0;
	transform: scale(.7);
 	transition: all .3s ease-in-out;
}
.vis-coninfwrap {
	opacity: 1 ;
    transform: scale(1.0) ;
} 
.cs-intputwrap {
	position: relative;
	margin-bottom:14px;
} 
.cs-intputwrap i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
 	font-weight: bold;
 	z-index: 10;
}
.custom-form  textarea , .custom-form input[type="text"] , .custom-form  input[type=email] , .custom-form  input[type=password] , .custom-form  input[type=button] , .listsearch-input-item input[type="text"]{
    border: 1px solid #eee;
 	background:#f9f9f9;
 	height: 56px;
    width: 100%;
    padding: 17px 20px 17px 50px ;
	color: #222;
	font-size:12px;
	-webkit-appearance: none;
	outline:none;
	overflow:hidden;
   	font-family: var(--main-font);
	font-weight: 500;
}
.custom-form  textarea::-webkit-input-placeholder , .custom-form  input[type="text"]::-webkit-input-placeholder  , .listsearch-input-item input[type="text"]::-webkit-input-placeholder  , .custom-form  input[type=password]::-webkit-input-placeholder  {
	color:#666;
	font-size: .95em;
	font-family: var(--main-font);
}
.custom-form  textarea:focus , .custom-form input[type="text"]:focus  , .custom-form  input[type=email]:focus  , .custom-form  input[type=password]:focus , .listsearch-input-item input[type="text"]:focus  {
 	box-shadow: 0px 10px 14px 0px rgba(12, 0, 46, 0.04); 
	background:#f9f9f9;
}
.custom-form textarea {
    height: 200px;
    resize: none;
    padding: 25px 20px;
    -webkit-appearance: none;
}
.close-modal {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 50px;
	height: 50px;
	cursor: pointer;
    box-shadow: 0px 0px 0px 10px #111;
	background: #111;
	z-index: 20;
}
.close-modal span{
	background: var(--main-color);
	float: left;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size:1.5em;
	transition: all .4s ease-in-out;
}
.commentssubmit {
    display: table;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    padding: 0 50px;
    border: none;
    -webkit-appearance: none;
    position: relative;
    text-transform: uppercase;
    background: var(--main-color);
    font-weight: 600;
    font-size: 11px;
    font-family: var(--main-font);
    transition: all .2s linear;
}
.contact-form-overlay  {
    z-index: 5;
    background: rgba(0, 0, 0, .6);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
} 
.contact-form-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	line-height: 70px;
	padding: 0 70px 0 50px;
}
.contact-form-header:before {
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	right: 55px;
	background: #222;
	bottom: 10px;
}
.contact-form-header h4 {
	text-align: left;
	font-weight: 600;
	font-size: 1.3em;
	color: #fff;
	position: relative;
	text-transform: uppercase;
}
 .fs-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
 
.contact-form-main {
	padding:   40px 30px;
	background: #fff;
	overflow: hidden;
	position: relative;
}
#message div{
	text-align: left;
	padding: 10px 30px;
	font-size: 13px;
	font-weight: 500;
	background: #f9f9f9;
	border: 1px solid #eee;
	margin-bottom: 10px;
	color: #144273;
}
.hid-body {
	overflow: hidden;
}
.fl-wrap{
	position: relative;
	float: left;
	width: 100%;
}
.contact-details {
	margin-top: 20px;
}
.contact-details li {
	float: left;
	width: 50%;
	text-align: left;
	padding: 0 0 30px;
	text-transform: uppercase;
	font-weight: 600;
	color:var(--main-color);
}
.contact-details li span {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.contact-details li a {
	position: relative;
	line-height: 20px;
	font-size: 10px;
	letter-spacing: 2px;
 	color:#fff;
}
.cs-content-media-social {
	position: absolute;
	top: 24px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 20;
	padding: 10px 10px 5px;
	background: #222;
}
.cs-content-media-social:before {
    content: '';
    position: absolute;
    left: -6px;
    right: -6px;
    bottom: -6px;
    top: -6px;
    border: 1px solid rgba(255, 255, 255, .3);
    background: rgba(0, 0, 0, .3);
    z-index: -1;
}
.cs-content-media-social ul {
	position: relative;
	z-index: 10;
}
.cs-content-media-social li {
	position: relative;
	overflow: hidden;
	display: inline-block;
	padding: 0 2px;
}
.cs-content-media-social a {
    background: var(--main-color);
    float: left;
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 1.2em;	
}
@media only screen and  (max-width: 1068px) {
.cs-content-wrapper , .cs-content-media , .contacts_social_container , .cs-content {
    float: left;
    width: 100%;
	position: relative;
	left: 0;
}
.cs-content-media {
	padding: 250px 0;
}
.cs-content {
    top: 0;
	margin-top: 150px;
    transform: translateY(0);
    padding: 50px 90px 120px;
}	
.contact-form-container {
    top: 80px;
}	
}
@media only screen and  (max-width: 640px) {
.rot {
    font-size: 34px;
}
.logo-holder {
	left: 30px;
	top: 40px;
}
.cs-content {
    padding: 50px 40px 120px;
}
.cs-content:after {
    right: 20px;
}
.contact-details li {
    width: 100%;
}
.cs-countdown-item {
    width: 50%;
	margin-bottom: 20px;
}
.cs-content h3 {
    font-size:34px;
}
.cs-content:before , .cs-content:after {
    display: none;
}
}